body{
  /*background-color: black;*/
  background-image: url("firstcomposition.gif");
}

#canvas1 {
  border: 1px solid transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 68px;
}

.controls{
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.controls,select,option{
  font-size: 13px;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: #00F839;
  background: black;

}